<section>
    <div class="contenedor">
        <div class="contenedor-calendario">
            <div class="card flex justify-content-center">
                <p-calendar class="max-w-full" [(ngModel)]="dateCalendario" [inline]="true" [showWeek]="true"  (onSelect)="selectDate()"></p-calendar>
            </div>
            <!-- <input type="text" name="myInput" [ngModel]="dateFormat"> -->
        </div>
        

        <div class="contenedor-horas">
            <table>
                <thead>
                  <tr >
                    <th>HORA</th>
                    <th>NOMBRE</th>
                    <th>Trabajo a realizar</th>
                  </tr>
                </thead>
                <tbody>
                    @for (dato of datosCitas ; track dato ) {
                        <tr (click)="getDatoCita(dato)">
                            <td class="celda-hora" id="hora">{{ dato.hora }}</td>
                            <td class="celda-nombre" id="nombre">{{ dato.nombre }}</td>
                            <td class="celda-trabajo">
                                <div class="contenedor-celda-trabajo" id="trabajo">
                                    <!-- {{ dato.trabajo }} -->
                                    {{dato.trabajo}}
                                </div>
                            </td>
                            
                        </tr>

                    }

                  
                </tbody>
            </table>
            <!-- <header>
                <div class="contenedor-tiutlo-hora">HORA</div>
                <div class="contenedor-tiutlo-nombre">NOMBRE</div>
                <div class="contenedor-titulo-trabajoRealizar">TRABAJO A REALIZAR</div>
            </header>
            @for (hora of horas; track 0) {
                <div class="contenedor-datos-reserva">
                    <div class="contenedor-datos-hora">{{ hora }}</div>
                    <div class="contenedor-datos-nombre">Anderson</div>
                    <div class="contenedor-datos-trabajoRealizar">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi totam, dolore voluptatem deserunt qui accusantium minima iusto pariatur neque harum velit id enim perferendis beatae illo inventore et possimus. Aperiam!</div>
                </div>
                <hr>
            } -->
            
        </div>
    </div>
</section>
