/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
  background-color: FFFFFE;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  max-width: 100vh;
} */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
